{% extends 'base.html' %}
{% block content %}

<div class="print" id="print">
    {% include 'logo.html' %}
    
    <div class="container">
        <h1 class="text text-default">All student records</h1>
        <table class="table table-responsive table-striped table-hover table-bordered">
            <tr>
                <th>#</th>
                <th>Reg No.</th>
                <th>Student name</th>
                <th>Gender</th>
                <th>faculty</th>
                <th>Home County</th>
                <th>Ethnic Group</th>
                <th>YOB</th>
                <th>Sponsorship</th>
            </tr>
            {% for prof in studentprofile_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td><a href="{% url 'student_detail' prof.id %}"> {{ prof.profile.regno }} </a></td>
                <td>
                    {{ prof.profile.surname|capfirst}}
                    {{ prof.profile.first_name|capfirst }}
                </td>
                <td>{{ prof.gender }}</td>
                <td>{{ prof.course}}</td>
                <td>{{ prof.county}}</td>
                <td>{{ prof.tribe }}</td>
                <td>{{ prof.yob }}</td>
                <td>{{ prof.student_type }}</td>
               




                
                
                {% empty %}
                <tr>
                    <p class="text text-default">We did not find any records for you</p>
                </tr>
                {% endfor%}
                <tr>
                    <td><button type="button" class="btn btn-success" onclick="return PrintData('print');">Print Data</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    {% endblock %}